<% provide :title, 'About Us' %>

<h1>About Us</h1>

<p>Codename Carnegie is a project of Aguijon Design. 
View more of our work <a href="#">here</a>, 
or use the form below to tell us what you think.</p>

<p>INSERT CONTACT FORM HERE</p>