<% provide :title, "" %>
<div class="center hero-unit">
  <h1>Welcome to Carnegie</h1>

  <h2>
    Codename Carnegie is the best way to keep track of everything you always feel like an asshole for forgetting. 
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
